{% extends "base_page.html" %}

{% load static %}

	<!-- Центральная часть сайта -->
	{% block content %}
		<div style="display: flex; padding-left: 10px">
    		<div style="flex: 0;">
        		<!-- Вміст першої колонки -->
				<img src="{% static 'img/Ship.gif' %}" width="275">
				<h2>Назва Підприємства</h2>
    		</div>
    		<div style="flex: 1; padding-left: 25px">
        		<!-- Вміст другої колонки -->
				<h3>Web-додаток працює на реальному підприємстві (~100 користувачів)</h3>
				<p>
					Призначений для обліку робочого часу конструкторів та технологів
					на машинобудівному підприємстві.
				</p><p>
					Специфіка роботи полягає в тому, що інженери працюють над проектами машин, які виробляє підприємство.<br>
					Проектів багато, вони дуже різні. Є серійні прості машини, а є складні машини під замовлення.
				</p><p>
					Без обліку дуже важко зрозуміти, скільки часу було затрачено на конкертний проект та<br>
					на які саме роботи цей час було витрачено.
				</p><p>
					Також складно порахувати реальне завантаження конструкторських та технологічних підрозділів.<br>
					Всі ці задачи допомагає вирішити цей web-додаток.<br>
				</p><p>
					Кожен співробітник в кінці робочого дня фіксує в Журналі обліку робочого часу виконані роботи.
					<br>
					На основі цих даних керівники підрозділів та керівники підприємства формують звіти<br>
					в різних розрізах та отримують необхідгу інформацію.
				</p>
					Інструменти реалізації:
					<ul class="notop">
						<li>серверна частина - DJANGO</li>
						<li>кліентська частина - HTML+CSS+Javascript</li>
					</ul>
					СУБД:
					<ul class="notop">
						<li>продуктовий варіант - MS SQL Server</li>
						<li>демоверсія - SQLite</li>
					</ul>
				Програмний код розміщений на <a href="https://github.com/OlegM-56/worktime" target="_blank">GITHUB у публічному доступі</a>
				<p></p>
			</div>
		</div>
		<hr>
		<div>
			{% if user.is_authenticated %}
				Активний користувач: <b>{{ user.last_name }}</b><br><br>
				<form method="post" action="{% url 'logout' %}">
					{% csrf_token %}
					<button type="submit"><<< Вийти з системи</button>
					&nbsp;&nbsp;&nbsp;&nbsp;
					Змінити пароль<a href="{% url 'password_change' %}">  --->>></a>
				</form>
			{% endif %}
		</div>
	{% endblock %}
